<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tube Status</title>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Tube Status">
    <meta name="description" content="React Tube Status">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@@shutdownscanner">
    <meta name="twitter:creator" content="@@shutdownscanner">
    <meta name="twitter:title" content="Tube Status">
    <meta name="twitter:description" content="React Tube Status">
    <meta name="twitter:image" content="https://reactube.com/icons/android-icon-192x192.png">
    <meta property="og:title" content="Tube Status">
    <meta property="og:type" content="website">
    <meta property="og:description" content="React Tube Status">
    <meta property="og:image" content="https://reactube.com/icons/android-icon-192x192.png">
    <meta property="og:url" content="https://reactube.com">
    <link rel="apple-touch-icon" sizes="57x57" href="icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="manifest" href="manifest.json">
    <link rel="image_src" href="https://reactube.com/icons/android-icon-192x192.png">
    <meta name="msapplication-TileColor" content="#894E24">
    <meta name="msapplication-TileImage" content="ms-icon-144x144.png">
    <meta name="theme-color" content="#894E24">
    <style type="text/css">
        body {
            color: #FFF;
            background: #333;
            font-family: New Johnson, Arial, Helvetica;
            text-align: center;
        }

        a {
            color: #FFF;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        table, th, td {
            border: 2px solid white;
        }

        th {
            color: #EEE;
            background: #111;
        }

        td.bakerloo {
            color: #FFF;
            background: #894E24;
        }

        td.central, td.bad {
            color: #FFF;
            background: #DC241F;
        }

        td.circle {
            color: #000;
            background: #FFCE00;
        }

        td.district, td.standard {
            color: #FFF;
            background: #007229;
        }

        td.hammersmith-city {
            color: #000;
            background: #D799AF;
        }

        td.jubilee {
            color: #FFF;
            background: #6A7278;
        }

        td.metropolitan {
            color: #FFF;
            background: #751056;
        }

        td.northern {
            color: #FFF;
            background: #000000;
        }

        td.piccadilly {
            color: #FFF;
            background: #0019A8;
        }

        td.victoria {
            color: #000;
            background: #00A0E2;
        }

        td.waterloo-city {
            color: #000;
            background: #76D0BD;
        }

        td.london-overground {
            color: #000;
            background: #E86A10;
        }

        td.tfl-rail {
            color: #FFF;
            background: #0019A8;
        }

        td.dlr {
            color: #000;
            background: #00AFAD;
        }

        td.tram {
            color: #FFF;
            background: #6C0;
        }
    </style>
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
